In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:


path = r'/Users/jasonlim/Downloads/WEEK24' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
frame.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1705507,"June 14, 2020",Tennessee,Chattanooga,NaN,0,1,NaN
1,1705505,"June 14, 2020",New York,Painted Post,Meades Creek Rd and Van Fleet Rd,0,0,NaN
2,1705346,"June 14, 2020",Louisiana,New Orleans,600 block of S. Lopez,1,3,NaN
3,1705497,"June 14, 2020",Texas,Temple,2300 block of 55th St,0,1,NaN
4,1705493,"June 14, 2020",California,Sylmar,12900 block of N. Borden Ave,1,2,NaN

In [4]:
frame.columns

Index(['Incident ID', 'Incident Date', 'State', 'City Or County', 'Address',
       '# Killed', '# Injured', 'Operations'],
      dtype='object')

In [5]:
new_df = frame[['Incident ID', 'Incident Date', 'State', 'City Or County','# Killed', '# Injured']]

In [6]:
new_df['Total_Injuried'] = new_df['# Killed']+new_df['# Injured']
new_df['Week']= 'Week 24'

/Users/jasonlim/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
new_df.head()

,Incident ID,Incident Date,State,City Or County,# Killed,# Injured,Total_Injuried,Week
0,1705507,"June 14, 2020",Tennessee,Chattanooga,0,1,1,Week 24
1,1705505,"June 14, 2020",New York,Painted Post,0,0,0,Week 24
2,1705346,"June 14, 2020",Louisiana,New Orleans,1,3,4,Week 24
3,1705497,"June 14, 2020",Texas,Temple,0,1,1,Week 24
4,1705493,"June 14, 2020",California,Sylmar,1,2,3,Week 24

In [8]:
new_df.to_csv("Week 24.csv", index=False)